.card {
  width: 100%;
  margin-top: 2rem;
}

.image {
  width: 100%;
}

.image:hover {
  opacity: 0.75;
}

.card-body {
  margin-top: 0.5rem;
}

.movie-name {
  margin-top: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
}

.movie-name:hover {
  color: rgba(209, 213, 219);
}

.movie-description {
  display: flex;
  align-items: center;
  color: rgba(156, 163, 175);
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0.25rem;
}

.rating {
  margin-left: 0.25rem;
  color: #cbd5e0;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.year {
  margin-left: 0.25rem;
  color: #cbd5e0;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.space {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.genres {
  color: #cbd5e0;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.svg {
  width: 1rem;
  fill: rgba(245, 158, 11);
}

@media (min-width: 640px) {
  .card {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .card {
    max-width: 47%;
  }
}
@media (min-width: 1024px) {
  .card {
    max-width: 23%;
  }
}

@media (min-width: 1280px) {
  .card {
    max-width: 18%;
  }
}
